<%= semantic_form_for @student_search, :url => '', :html => { :method => :get } do | form | %>
  <%= form.inputs do %>
    <%= form.input :lastname, :input_html => { :class => "focus_first" } %>
    <%= form.input :firstname %>
    <%= form.input :patronymic %>
    <%= form.input :group %>
    <%= form.input :learns, :required => false %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button 'Искать', :button_html => { :class => "button", :name => nil } %>
    <li><%= link_to "Очистить", root_path, :class => "button" %></li>
  <% end %>
<% end %>

