<h1>Список студентов</h1>

<%= render "form" %>

<% unless @students.empty? %>
  <table class="tablesorter">
    <thead>
      <tr>
        <th>№</th>
        <th>ID</th>
        <th>Person ID</th>
        <th>Фамилия, имя, отчество</th>
        <th>Дата рождения</th>
        <th>Группа</th>
        <th>Курс</th>
        <th>Кафедра</th>
        <th>Факультет</th>
        <th>Специальность</th>
        <th>В ГПО</th>
        <th>Учится</th>
      </tr>
    </thead>
    <tbody>
    <% @students.each_with_index do |student, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to student.study_id, student_path(student.study_id) %></td>
        <td><%= link_to student.person_id, students_path(:person_id => student.person_id, :include_inactive => 1) %></td>
        <td><%= student.name %></td>
        <td><%= I18n.l student.born_on, :format => "%d.%m.%Y" %></td>
        <td><%= student.group %></td>
        <td><%= student.course %></td>
        <td><abbr title="<%= student.subfaculty.name %>"><%= student.subfaculty.abbr %></abbr></td>
        <td><abbr title="<%= student.faculty.name %>"><%= student.faculty.abbr %></abbr></td>
        <td><abbr title="<%= student.speciality.name %>"><%= student.speciality.code %></abbr></td>
        <td><%= yes_no student.in_gpo %></td>
        <td><%= yes_no student.learns %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <%= content_tag :p, "Нет результатов поиска", :class => "empty" unless params[:student_search].blank? %>
<% end %>

