<h1>Студент</h1>
<%= show_for student do | student | %>
  <%= student.attributes :study_id, :person_id, :previous_person_id %>
  <%= student.attributes :name, :gender, :born_on, :citizenship %>
  <%= student.association :faculty %>
  <%= student.association :subfaculty %>
  <%= student.association :speciality do %>
    <%= student.object.speciality.kind %>,
    <%= student.object.speciality.code %>
    <%= student.object.speciality.name %>
  <% end %>
  <%= student.attributes :begin_study, :end_study %>
  <%= student.attributes :course, :group %>
  <%= student.attributes :learns, :activate_date, :student_state %>
  <%= student.attributes :zach_number %>
  <%= student.attributes :in_gpo, :financing %>
<% end %>

<% if student.hostel_data.any? %>
  <h4>Общежития</h4>
  <% student.hostel_data.each do |hostel_living| %>
    <p><strong>Общежитие:</strong> <%= hostel_living.hostel[:name] %></p>
    <p><strong>Комната:</strong> <%= hostel_living.room_number %></p>
    <p><strong>Начало:</strong> <%= hostel_living.start_date %></p>
    <p><strong>Окончание:</strong> <%= hostel_living.end_date %></p>
    <hr />
  <% end %>
<% end %>

<% if student.orders_data.any? %>
  <h4>Приказы</h4>
  <% student.orders_data.each do |order| %>
    <p>№ <%= order.numb %> от <%= order.date %></p>
    <p><%= order.title %></p>
    <hr />
  <% end %>
<% end %>

<p><%= link_to 'Вернуться', :back, class: "button" %></p>
