<h1>Студент</h1>
<%= show_for student do | student | %>
  <%= student.attributes :study_id, :person_id, :previous_person_id %>
  <%= student.attributes :name, :born_on %>
  <%= student.association :faculty %>
  <%= student.association :subfaculty %>
  <%= student.association :speciality %>
  <%= student.attributes :zach_number %>
  <%= student.attributes :course, :group %>
  <%= student.attributes :learns, :activate_date, :student_state %>
  <%= student.attributes :in_gpo, :financing %>
<% end %>
<p><%= link_to 'Вернуться', :back, class: "button" %></p>

